@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  font-family: Poppins;
}
/* navbar */
.navbar {
  color: white;
  background-color: rgb(43, 43, 43) !important;
}
.nav-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
}
.nav-link:hover {
  color: white;
}
.grocery-img {
  width: 60%;
  margin: 1rem auto;
}

.price {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

#cart-counter {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  min-width: 300px;
}

#footer {
  height: 50px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
